name: Build and populate cache

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 3" # 03:00 on Wednesday, this is beacuse we want to update 1hr after the inputs update

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v10
        with:
          overprovision-lvm: true
          remove-android: true
          remove-dotnet: true
          remove-haskell: true
          remove-codeql: true

      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          logger: pretty

      - name: Setup Attic
        uses: ryanccn/attic-action@v0.3.2
        with:
          endpoint: https://cache.tgirl.cloud
          cache: tgirlcloud
          token: ${{ secrets.ATTIC_TOKEN }}

      - name: Build izvim
        run: nix build -L .
